
html {
  font:100%/1.15 sans-serif;
}
body {
  margin:0;
  margin: 2em 0 0 2em;
}


header {
  color:#663300
}


body{
background-color: #cccc66;
color: #724C00;
max-width: 48em;
padding: 2em;
border: 1px dashed #fff;
margin-left: auto;
margin-right: auto;
}

/* -- flexible images -- */

img {
  width: auto;
  max-width: 100%;
  height:auto;
}

/* --- my styles -- */
body {
  max-width: 60em;
}

/* --- breakpoint for wider screens --- */

@media (min-width: 48em) {

body {
  font-size: 110%;
}
}
